.tipsPage{
    background-color: mistyrose;
}

.homePage{
    background-color: lightcyan;
}

.infoPage{
    background-color: lavender;
}

.jumbotron{
    background-color: lightskyblue;
    color: white;
}

.info{
    background-color: #CDB7F6;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.card{
    background-color: lightskyblue;
    float: none;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin: 50px;
    text-align: center;
}

.row{
    align-content: center;
    justify-content: center;
}


.card-img-top{
    height: 300px;
}

.information{
    margin: 20px;
}

li{
    width: 40%;
}

.information p{
    width: 70%;
    margin: 0;
}

.border{
    color: red;
}

.tipJumbo{
    background-color: pink;
}

.pinkCorona{
    height: 250px;
    width: 300px;
    margin-right: 80px;
}

.chart{
    height: 300px;
    width: 300px;
    margin-right: 41%;
}

.purpCov{
    height: 300px;
    width: 300px;
    position: absolute;
    margin-left: 60%;
    bottom: 18%;
}

.pinkSoap{
    height: 250px;
    width: 250px;
    margin-right: 100px;
    margin-top: 25px;
}

.sickPic{
    height: 200px;
    width: 200px;
    position: absolute;
    margin-left: 25%;
    top: 92%;
}

.pinkMask img, .purpleCorona{
    height: 200px;
    width: 200px;
    position: absolute;
    margin-left: 65%;
    bottom: 71%;
}

.goal{
    text-align: center;
}
